.walletCarousel {

    &__header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    &__sectionTitle {
        display: inline-block;
        background: transparent;
        text-align: left;
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 20px;
        @include on-desktop-and-up {
            margin-right: 19px;
        }
    }

    &__textButton {
        background-color: #1A2430;
        padding: 3px 12px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        margin-right: 5px;
    }

    &__controls {
        display: inline-block;
        margin-left: auto;
    }

    &__actionButton {
        background-color: #1A2430;
        border-radius: 5px;
        font-size: 28px;
        margin-left: 9px;
        cursor: pointer;

        @include no-select;

        &_inactive {
            cursor: initial;
            color: #666;
        }
    }

    &__track {
        // Hack to remove extra space below track. Will probably fix this later and use flex or something for wallet track.
        // The extra space is because the WalletTile elements are inline-block.
        line-height: 0;
        > * {
            line-height: initial;
        }

        // Goes to at most 4 wallets displayed at once on tablet
        @include on-tablet-and-under {
            >:nth-child(2n) {
                margin-right: 0;
            }
            >:nth-child(5) {
                display: none;
            }
        }
    }
}