.marketCapTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include hide_scrollbar;

    &__header {
        //padding: 13px 17px;
        //border: 2px solid transparent;
        // Need to do this to make border not look glitchy. Corners are diagonal due to where transparent meets grey border.
        // The 13px 17px padding plus 2px transparent border but in padding:
        padding: 15px 19px 13px 19px;
        border-bottom: 2px solid #454545;
    }

    &__listContainer {
        flex-grow: 1;
        overflow-y: scroll;
        height: 100%;
        position: relative;
    }

    &__list {
        @include on-desktop-and-up {
            position: absolute;
        }
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        width: 100%;

        &Item {
            padding: 13px 17px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &Name {
                display: flex;
                align-items: center;
                text-align: left;
                margin-right: 20px;

                img {
                    display: inline-block;
                    margin-right: 6px;
                    width: 22px;
                    height: 22px;
                }
            }

            &Info {
                display: flex;

                &Balance {

                }

                &Change {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $positive-text-color;
                    margin-left: 6px;

                    &_negative {
                        color: $negative-text-color;
                    }
                }
            }
        }
    }

    &__footer {
        height: 49px;
        border-top: 2px solid #454545;
        @include hcenter;

        &Item {
            padding: 13px 17px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &Name {
                display: flex;
                align-items: center;
                text-align: left;
                margin-right: 20px;
            }

            &Info {
                display: flex;

                &Balance {}

                &Change {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $positive-text-color;
                    margin-left: 6px;

                    &_negative {
                        color: $negative-text-color;
                    }
                }
            }
        }
    }
}