.cryptoNewsfeed {
    padding: 25px;
}

.headerSection {
    display: flex;
    justify-content: space-between;

    &__titleContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        &Icon {
            margin-right: 12px;
            font-size: 22px;
        }
        &Text {
            margin: 0;
        }
    }
    
    &__buttonContainer {
        @include vcenter;
    }

    &__subscribeButton {
        display: block;
        padding: 7px 28px;
        margin-left: 35px;

        @include on-mobile-only {
            padding: 7px 18px;
            margin-left: 5px;
        }
        
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background-color: #2A4357;

        &:hover {
            background-color: #4d789b;
        }
    }
}

.storyPreview {
    border: 1px solid #454545;
    border-radius: 5px;
    padding: 10px 20px;

    &:not(:last-child) {
         margin-bottom: 15px;
    }

    &__header {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__subtext {
        margin-bottom: 0px;
        font-size: 14px;
        color: $inactive-text-color;
    }

     &__description {
         margin-bottom: 0;
         margin-top: 5px;
     }
}