.TrendingCurrenciesTable {

    td:first-child, td:last-child, th:first-child, th:last-child {
        width: 1px;
        white-space: nowrap;
    }

    td, th {
        padding-top: 7px;
        padding-bottom: 15px;
    }

    td > a {
        padding: 7px 28px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background-color: #2A4357;
        margin-left: 35px;

        &:hover {
            background-color: #4d789b;
        }
    }

    th:last-child {
        padding-left: 35px;
    }

    &__headerRow {
        color: $active-text-color;
    }

    &__row:not(:last-child) {
        > td:not(:last-child) {
            border-bottom: 1px solid #454545;
        }
    }

    &__row {
        &Change {
            display: flex;
            justify-content: center;

            &Num {

            }
            &Pct {
                @include vcenter;
                margin-left: 6px;

                color: $positive-text-color;

                &_negative {
                    color: $negative-text-color;
                }
            }
        }
    }
}