.container {
  a {
    color: white;
  }
}

.exchangeButton {
  padding: 5px 20px;
  background-color: #2A4357;
  border-radius: 3px;
}

.buyButton {
  margin-right: 5px;
  padding: 5px 20px;
  background-color: #2A4357;
  border-radius: 3px;
}