.container {
  a {
    color: white;
  }
}

.notificationsContainer {
}

.notification {
  background-color: $foreground-color;

  h4 {
    margin-top: 16px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid grey;
  }

  padding: 20px;
}

.notificationType {
  padding: 4px 24px;
  border-radius: 3px;
  font-size: 12px;
  &__new {
    background-color: #148d3c;
  }
  &__info {
    background-color: #ed9c22;
  }
  &__urgent {
    background-color: #5e09b2;
  }
}
