$background-color: #0C1117;
$foreground-color: #1A2430;

$active-text-color: rgb(118, 201, 255);
$inactive-text-color: rgb(184, 202, 222);
$sub-text-color: rgb(133, 163, 194);

$positive-text-color: #6DD598;
$negative-text-color: #d46d6f;

$gridlines-color: #454545;

$tile-margin: 15px;

@mixin vcenter {
    display: flex;
    align-items: center;
    justify-content: left;
}

@mixin hcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
@mixin on-mobile-only {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin on-tablet-and-under {
    @media only screen and (max-width: 1279px) {
        @content;
    }
}

@mixin on-tablet-and-up {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin on-desktop-and-up {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}
*/

@mixin on-mobile-only {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin on-tablet-and-under {
    @media only screen and (max-width: 1279px) {
        @content;
    }
}

@mixin on-tablet-and-up {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin on-desktop-and-up {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

// Midway between tablet and desktop -- added this for the graph... Need some breakpoints halfway between desktop/tablet for correct rendering.
@mixin on-1550-and-under {
    @media only screen and (max-width: 1549px) {
        @content;
    }
}
@mixin on-1550-and-up {
    @media only screen and (min-width: 1550px) {
        @content;
    }
}