$background-color: #0C1117;
$foreground-color: #1A2430;

$border-radius: 5px;
$border-radius-larger: 10px;

$active-text-color: rgb(118, 201, 255);
$inactive-text-color: rgb(184, 202, 222);
$sub-text-color: rgb(133, 163, 194);

$positive-text-color: #6DD598;
$negative-text-color: #d46d6f;

$gridlines-color: #454545;

$tile-margin: 15px;

@mixin vcenter {
    display: flex;
    align-items: center;
    justify-content: left;
}

@mixin hcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin hide-scrollbar {
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    * {
        scrollbar-width: none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin on-mobile-only {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin on-tablet-and-under {
    @media only screen and (max-width: 1279px) {
        @content;
    }
}

@mixin on-tablet-and-up {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin on-desktop-and-up {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

// Midway between tablet and desktop -- added this for the graph... Need some breakpoints halfway between desktop/tablet for correct rendering.
@mixin on-1650-and-under {
    @media only screen and (max-width: 1649px) {
        @content;
    }
}
@mixin on-1650-and-up {
    @media only screen and (min-width: 1650px) {
        @content;
    }
}