html, body {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: 'Nunito', sans-serif;
    background-color: $background-color;
    font-size: 16px;
}

input {
    font-family: 'Nunito', sans-serif;
}

ion-icon {
    display: inline-block;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
}

*:focus {
    outline: none;
}

.content {
    padding: calc(100px + 30px) 45px;
    padding-bottom: 0px;

    transition: margin-left 0.2s ease-out;

    @include on-desktop-and-up {
        margin-left: 335px;

        &_sideBarToggled {
            margin-left: 0;
        }
    }
}

.content > * {
    margin-bottom: $tile-margin;
}

/*----------------------------------*/

/*
@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito/Nunito-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito/Nunito-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito/Nunito-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  */